In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("./city.csv")

In [10]:
df = df[["city", "population"]]
df = df[df.population >= 100000]

In [14]:
df = df.sort_values(by=["population"], ascending=False)

In [15]:
df.head()

                city  population
509           Москва    11514330
786  Санкт-Петербург     4848742
647      Новосибирск     1498921
832     Екатеринбург     1377738
619  Нижний Новгород     1250615

In [20]:
df.to_json("cities.json", force_ascii=False, indent=2)